version: "3"

services:
  web:
    # Build docker image from source
    # build:
    #   context: .
    #   dockerfile: Dockerfile

    # ...Or use published image from Dockerhub
    image: mrorbitman/jellyfin-wrapped:latest

    ports:
      - "80:80"
    restart: unless-stopped
    container_name: jellyfin-wrapped
    # Required environment variables for Jellyfin Wrapped to function properly
    environment:
      - JELLYFIN_SERVER_URL=http://<your_jellyfin_server>:8096
      - JELLYFIN_API_KEY=<your_admin_api_key>
